amqp==5.3.1
annotated-types==0.7.0
asgiref==3.8.1
billiard==4.2.1
celery==5.4.0
certifi==2025.1.31
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
clickhouse-connect==0.8.5
colorama==0.4.6
Django==5.1.2
django-environ==0.11.2
iniconfig==2.0.0
kombu==5.4.2
lz4==4.4.3
packaging==24.2
pluggy==1.5.0
prompt_toolkit==3.0.50
psycopg2==2.9.10
pydantic==2.9.2
pydantic_core==2.23.4
pytest==8.3.3
pytest-django==4.9.0
python-dateutil==2.9.0.post0
pytz==2025.1
redis==5.2.1
ruff==0.7.1
sentry-sdk==2.1.1
six==1.17.0
sqlparse==0.5.3
structlog==24.4.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
zstandard==0.23.0
